.students{
    width:80%;
    margin:20px auto;
    border:1px solid #eee;
    box-shadow: 0 3px 3px #ccc;
    text-align:center;
    padding-bottom:20px;

}

.students label{
    display: block;
    text-align:center;
    margin:5px auto;
    font-weight: bold;
}

.students input {
    direction: rtl;
    width: 80%;
    height: 30px;
    padding:5px;
    border-radius: 10px;
}

input[type=number], input[type=email]{
    direction: ltr;
}

@media(min-width:1000px){
    .students{
        width: 50%;
    }
}